/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #bdbdbd;
}

/* -------  Search Form ------- */

form {
  border: 2px solid #ff385c;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.form-row {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-right: 10px;
}

form select,
form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  form button {
    width: 15%;
  }

  .group {
    flex-direction: row;
    align-items: center;
  }

  .item {
    flex: 0 0 calc(50% - 20px);
  }

  .logo {
    display: flex;
    flex-direction: row;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: space-between;
  }
}
